.jumbotron {
	color: white;
	margin-top: 20px;
}


.footer {
	padding: 10px 10px 0 10px;
	background-color: blue;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 250px;
	margin-top: 50px
}

.btn {
	width: 100%;
	border-radius: 0px;
}

.footer-addres-icon {
	padding-right: 10px;
}

.tab-content{
	padding-top: 15px;
}

.form-group{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
